button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled,
.hs-button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

form .hs-button.primary, form .hs-button.primary:active, form .hs-button.primary:focus, .primary-btn{
  background: #027FF1;
  color: #fff;
  transition: all .3s ease;

  border: 1px solid #027FF1;
  border-radius: 6px;
  color: #fff;
  font-family: Embark Sans, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 53px;
  text-decoration: none;
  text-transform: none;
}
form .hs-button.primary:hover, .primary-btn:hover{
  background: #fff;
  color: #027FF1;
  
  text-decoration: none;
}

.secondary-btn{
  background: transparent;
  color: #027FF1;
  transition: all .3s ease;
  display: inline-block;
  border: 1px solid #027FF1;
  border-radius: 100px;
  font-family: Embark Sans, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 53px;
  text-decoration: none;
  text-transform: none;
}
.secondary-btn:hover{
  background: #027FF1;
  color: #fff;  
  text-decoration: none;
}
/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}
