<!--
  templateType: page
  isAvailableForNewContent: true
  label: Podcasts Overview
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

    {% dnd_area "dnd_area" label="Main section", class="body-container body-container--resource-post" %}
     
      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_rhs" path="./../modules/podcasts-overview-hero-banner", label="podcasts-overview-hero-banner" %}{% end_dnd_module %}
      {% end_dnd_section %}
        
      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_bookmark" path="./../modules/explore-our-podcasts-overview", label="explore-our-podcasts-overview" %}{% end_dnd_module %}
      {% end_dnd_section %}

      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_17087573380803" path="./../modules/Contact Section", label="Contact Section" %}{% end_dnd_module %}
      {% end_dnd_section %}
      

    {% end_dnd_area %}
{% endblock body %}
