<!--
  templateType: page
  isAvailableForNewContent: true
  label: Resource Page
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area" label="Main section", class="body-container body-container--resource" %}
     
      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_rhs" path="./../modules/Resources Hero Section", label="Resources Hero Section" %}{% end_dnd_module %}
      {% end_dnd_section %}
      
      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_fs" path="./../modules/Featured Slider", label="Featured Slider" %}{% end_dnd_module %}
      {% end_dnd_section %}

      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_fw" path="./../modules/Featured Webinars", label="Featured Webinars" %}{% end_dnd_module %}
      {% end_dnd_section %}
      
       {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_fs" path="./../modules/Featured Slider", label="Featured Slider" %}{% end_dnd_module %}
      {% end_dnd_section %}
      
      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_podcasts" path="./../modules/Podcasts", label="Podcasts" %}{% end_dnd_module %}
      {% end_dnd_section %}

      {% dnd_section full_width="true" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
        {% dnd_module "module_linkedin" path="./../modules/Linkedin Posts", label="Linkedin Posts" %}{% end_dnd_module %}
      {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
