<div class="resources-hero-section {{ name }}">
  <div class="content-wrapper">
    <div class="hs-bmenu">
      {% for item in module.add_breadcrumb_temp_ %}
      {% set href = item.link.url.href %}
      {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}" {% if item.link.open_in_new_tab %}target="_blank"{% endif %} {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}>
        {{ item.text }}
      </a>
      {% endfor %}
    </div>
    <div class="hs-top">
      <div class="hs-left">
        {% if module.bold_paragraph_title %}<div class="bold-paragraph">{{ module.bold_paragraph_title }}</div>{% endif %}
      </div>
      <div class="hs-right">
        <div class="post-item">
          <div class="col-inner">
            <div class="featured-img">
              {% set href = module.article.link_field.url.href %}
              {% if module.article.link_field.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              {% if module.article.link_field.url.type is equalto "PHONE_NUMBER" %}
              {% set href = "tel:" + href %}
              {% endif %}
              <a href="{{ href }}"
                 {% if module.article.link_field.open_in_new_tab %}target="_blank"{% endif %}
                 {% if module.article.link_field.rel %}rel="{{ module.article.link_field.rel }}"{% endif %}
                 >
                {% if module.article.image.src %}
                {% set sizeAttrs = 'width="{{ module.article.image.width }}" height="{{ module.article.image.height }}"' %}
                {% if module.article.image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.article.image.width }}" height="{{ module.article.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.article.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.article.image.max_width }}" height="{{ module.article.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.article.image.loading != 'disabled' ? 'loading="{{ module.article.image.loading }}"' : '' %}
                <img src="{{ module.article.image.src }}" alt="{{ module.article.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              </a>
            </div>
            <div class="meta-info">
              {% if module.article.tag %}
              <span class="tag">
                {{ module.article.tag }}  
              </span>
              {% endif %}
              <span class="date">
                {{ module.article.date|format_datetime('dd MMM YYYY') }}
              </span>
            </div>
            {% if module.article.title %}<h6>{{ module.article.title }}</h6>{% endif %}
          </div>
        </div>
      </div>
      {% if module.main_title %}<h1 class="fullwidth">{{ module.main_title }}</h1>{% endif %}
    </div>
  </div>
</div>


<style>
  {% scope_css %}
  .resources-hero-section {
    background: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity * 0.01 }});
    {{ module.style.desktop_spacing.css }};
  }
  @media(max-width:767px){
    .resources-hero-section {
      {{ module.style.mobile_spacing.css }};
    }
  }
  {% end_scope_css%}
</style>


