<!--
  templateType: global_partial
  label: Website header
-->

<header class="header-outer-group">
  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  <a href="#main-content" class="header__skip">Skip to content</a>
  <div class="hs-header-bg">
    {% module "module_Mega_menu" path="../../modules/mega-menu", label="Mega Menu" %}
    <div class="hs-header-search">
      {% module "site_search" path="@hubspot/search_input", label="Search",placeholder="Search...",include_search_button=false %}
    </div>
  </div>
</header>


