<div class="{{name}}">
  <div class="content-wrapper"> 
    <div class="row-inner">
      <h1>
        {{ module.section_heading }}
      </h1>

      <div class="podcasts-card-wrapper">
        {% for item in module.podcasts_card %}
        <div class="podcasts-card">
          <div class="name">
            {{ item.podcasts_name }}
          </div>
          <div class="card-title">
            {{ item.card_title }}
          </div>
          {{ item.card_description }}
          <div class="podcast-icons">
            {% for item2 in item.podcasts_icon_group %}

            {% set href = item2.podcasts_icon_link.url.href %}
            {% if item2.podcasts_icon_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
               {% if item2.podcasts_icon_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if item2.podcasts_icon_link.rel %}rel="{{ item2.podcasts_icon_link.rel }}"{% endif %}
               >
              {% if item2.podcasts_icons.src %}
              {% set sizeAttrs = 'width="{{ item2.podcasts_icons.width }}" height="{{ item2.podcasts_icons.height }}"' %}
              {% if item2.podcasts_icons.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item2.podcasts_icons.width }}" height="{{ item2.podcasts_icons.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item2.podcasts_icons.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item2.podcasts_icons.max_width }}" height="{{ item2.podcasts_icons.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item2.podcasts_icons.loading != 'disabled' ? 'loading="{{ item2.podcasts_icons.loading }}"' : '' %}
              <img src="{{ item2.podcasts_icons.src }}" alt="{{ item2.podcasts_icons.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% require_css %}
<style>
  .{{name}} {padding: 60px 0}
  .{{name}} .row-inner h1{
    font-family: 'Embark Sans Headline', sans-serif;
    font-size: 48px;
    padding-bottom: 1.8rem;
  }
  .{{name}} .row-inner .podcasts-card-wrapper{
    display: flex;
    gap: 16px;
  }
  .{{name}} .podcasts-card{
    display: flex;
    flex-direction: column;
    background: rgba({{ module.style.card_background_color.color|convert_rgb }},{{ module.style.card_background_color.opacity * 0.01 }});
    width: 307px;
    color: #000;    
    padding: 24px;
    gap: 32px;
    border-radius: 6px;
  }
  .{{name}} .podcasts-card .name{
    font-family: Embark Sans Headline;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #F277C6;
  }
  .{{name}} .podcasts-card .card-title{
    font-family: Embark Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }
  .{{name}} .podcasts-card p{
    font-family: Embark Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
  }
  .{{name}} .podcasts-card .podcast-icons{
    display: flex;
    background: #fff;
    width: fit-content;
    padding: 12px;
    gap: 20px;
    border-radius: 10px;
  }
  .{{name}} .podcasts-card .podcast-icons a{display: inline-grid;}
  
  @media screen and (max-width: 1024px){
    .{{name}} .row-inner .podcasts-card-wrapper{flex-wrap: wrap;}
    .{{name}} .podcasts-card{width: 49%;}
  }
  @media screen and (max-width: 991px){
    .{{name}} .row-inner .podcasts-card-wrapper{gap: 13px;}
  }
  @media screen and (max-width: 600px){
    .{{name}} .row-inner h1{font-size: 32px;line-height: 35px;}
    .{{name}} .podcasts-card {width: 100%;}
  }
</style>
{% end_require_css %}